<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="rules">
<entry key="array-size" type="xint" value="39"/>
<entry key="0" type="xstring" value="// enter ordered set of rules, e.g.:"/>
<entry key="1" type="xstring" value="// $double column name$ &gt; 5.0 =&gt; &quot;large&quot;"/>
<entry key="2" type="xstring" value="// $string column name$ LIKE &quot;*blue*&quot; =&gt; &quot;small and blue&quot;"/>
<entry key="3" type="xstring" value="// TRUE =&gt; &quot;default outcome&quot;"/>
<entry key="4" type="xstring" value="$Long$ &lt;= -71.1 AND $Lat$ &gt;= 42.23 AND $Lat$ &lt;=  42.255 =&gt; 1"/>
<entry key="5" type="xstring" value="$Long$ &lt;= -71.14 AND $Lat$ &gt;= 42.255 AND $Lat$ &lt;=  42.31 =&gt; 2"/>
<entry key="6" type="xstring" value="//$Long$ &lt;= -71.14 AND $Lat$ &gt;= 42.28 AND $Lat$ &lt;=  42.31 =&gt; 3"/>
<entry key="7" type="xstring" value="//$Long$ &lt;= -71.14 AND $Lat$ &gt;= 42.33 AND $Lat$ &lt;=  42.35 =&gt; 4"/>
<entry key="8" type="xstring" value="$Long$ &lt;= -71.14 AND $Lat$ &gt;= 42.33 AND $Lat$ &lt;=  42.365 =&gt; 5"/>
<entry key="9" type="xstring" value="$Long$ &lt;= -71.10 AND $Long$ &gt;= -71.14 AND $Lat$ &gt;= 42.255 AND $Lat$ &lt;=  42.27 =&gt; 6"/>
<entry key="10" type="xstring" value="//$Long$ &lt;= -71.10 AND $Long$ &gt;= -71.14 AND $Lat$ &gt;= 42.27 AND $Lat$ &lt;=  42.285 =&gt; 7"/>
<entry key="11" type="xstring" value="$Long$ &lt;= -71.10 AND $Long$ &gt;= -71.14 AND $Lat$ &gt;= 42.27 AND $Lat$ &lt;=  42.3 =&gt; 8"/>
<entry key="12" type="xstring" value="$Long$ &lt;= -71.09 AND $Long$ &gt;= -71.14 AND $Lat$ &gt;= 42.3 AND $Lat$ &lt;=  42.315 =&gt; 9"/>
<entry key="13" type="xstring" value="$Long$ &lt;= -71.06 AND $Long$ &gt;= -71.10 AND $Lat$ &gt;= 42.26 AND $Lat$ &lt;=  42.28 =&gt; 10"/>
<entry key="14" type="xstring" value="$Long$ &lt;= -71.06 AND $Long$ &gt;= -71.08 AND $Lat$ &gt;= 42.28 AND $Lat$ &lt;=  42.29 =&gt; 11"/>
<entry key="15" type="xstring" value="$Long$ &lt;= -71.06 AND $Long$ &gt;= -71.08 AND $Lat$ &gt;= 42.29 AND $Lat$ &lt;=  42.30 =&gt; 18"/>
<entry key="16" type="xstring" value="$Long$ &lt;= -71.08 AND $Long$ &gt;= -71.10 AND $Lat$ &gt;= 42.28 AND $Lat$ &lt;=  42.30 =&gt; 12"/>
<entry key="17" type="xstring" value="$Long$ &lt;= -71.06 AND $Long$ &gt;= -71.075 AND $Lat$ &gt;= 42.30 AND $Lat$ &lt;=  42.31 =&gt; 13"/>
<entry key="18" type="xstring" value="$Long$ &lt;= -71.075 AND $Long$ &gt;= -71.09 AND $Lat$ &gt;= 42.30 AND $Lat$ &lt;=  42.31 =&gt; 3"/>
<entry key="19" type="xstring" value="$Long$ &lt;= -71.03 AND $Long$ &gt;= -71.06 AND $Lat$ &gt;= 42.275 AND $Lat$ &lt;=  42.31 =&gt; 14"/>
<entry key="20" type="xstring" value="$Long$ &lt;= -71.09 AND $Long$ &gt;= -71.14 AND $Lat$ &gt;= 42.315 AND $Lat$ &lt;=  42.325 =&gt; 15"/>
<entry key="21" type="xstring" value="$Long$ &lt;= -71.07 AND $Long$ &gt;= -71.09 AND $Lat$ &gt;= 42.31 AND $Lat$ &lt;=  42.325 =&gt; 16"/>
<entry key="22" type="xstring" value="$Long$ &lt;= -71.03 AND $Long$ &gt;= -71.07 AND $Lat$ &gt;= 42.31 AND $Lat$ &lt;=  42.325 =&gt; 17"/>
<entry key="23" type="xstring" value="//$Long$ &lt;= -71.01 AND $Long$ &gt;= -71.04 AND $Lat$ &gt;= 42.325 AND $Lat$ &lt;=  42.34 =&gt; 18"/>
<entry key="24" type="xstring" value="$Long$ &lt;= -71.01 AND $Long$ &gt;= -71.06 AND $Lat$ &gt;= 42.325 AND $Lat$ &lt;=  42.34 =&gt; 19"/>
<entry key="25" type="xstring" value="$Long$ &lt;= -71.06 AND $Long$ &gt;= -71.08 AND $Lat$ &gt;= 42.325 AND $Lat$ &lt;=  42.34 =&gt; 20"/>
<entry key="26" type="xstring" value="$Long$ &lt;= -71.08 AND $Long$ &gt;= -71.10 AND $Lat$ &gt;= 42.325 AND $Lat$ &lt;=  42.34 =&gt; 21"/>
<entry key="27" type="xstring" value="$Long$ &lt;= -71.10 AND $Long$ &gt;= -71.14 AND $Lat$ &gt;= 42.325 AND $Lat$ &lt;=  42.34 =&gt; 22"/>
<entry key="28" type="xstring" value="$Long$ &lt;= -71.02 AND $Long$ &gt;= -71.06 AND $Lat$ &gt;= 42.34 AND $Lat$ &lt;=  42.355 =&gt; 24"/>
<entry key="29" type="xstring" value="$Long$ &lt;= -71.06 AND $Long$ &gt;= -71.07 AND $Lat$ &gt;= 42.34 AND $Lat$ &lt;=  42.355 =&gt; 25"/>
<entry key="30" type="xstring" value="$Long$ &lt;= -71.07 AND $Long$ &gt;= -71.08 AND $Lat$ &gt;= 42.34 AND $Lat$ &lt;=  42.355 =&gt; 7"/>
<entry key="31" type="xstring" value="$Long$ &lt;= -71.08 AND $Long$ &gt;= -71.11 AND $Lat$ &gt;= 42.34 AND $Lat$ &lt;=  42.355 =&gt; 26"/>
<entry key="32" type="xstring" value="$Long$ &lt;= -71.11 AND $Long$ &gt;= -71.14 AND $Lat$ &gt;= 42.34 AND $Lat$ &lt;=  42.37 =&gt; 27"/>
<entry key="33" type="xstring" value="$Long$ &lt;= -70.99 AND $Long$ &gt;= -71.05 AND $Lat$ &gt;= 42.355 AND $Lat$ &lt;= 42.4 =&gt; 28"/>
<entry key="34" type="xstring" value="$Long$ &lt;= -71.05 AND $Long$ &gt;= -71.08 AND $Lat$ &gt;= 42.355 AND $Lat$ &lt;= 42.36 =&gt; 29"/>
<entry key="35" type="xstring" value="$Long$ &lt;= -71.05 AND $Long$ &gt;= -71.08 AND $Lat$ &gt;= 42.36 AND $Lat$ &lt;= 42.37 =&gt; 30"/>
<entry key="36" type="xstring" value="//$Long$ &lt;= -70.99 AND $Long$ &gt;= -71.02 AND $Lat$ &gt;= 42.38 AND $Lat$ &lt;= 42.40 =&gt; 30"/>
<entry key="37" type="xstring" value="//$Long$ &lt;= -71.02 AND $Long$ &gt;= -71.05 AND $Lat$ &gt;= 42.37 AND $Lat$ &lt;= 42.385 =&gt; 31"/>
<entry key="38" type="xstring" value="$Long$ &lt;= -71.05 AND $Long$ &gt;= -71.09 AND $Lat$ &gt;= 42.37 AND $Lat$ &lt;= 42.395 =&gt; 32"/>
</config>
<entry key="new-column-name" type="xstring" value="region"/>
<entry key="replace-column-name" type="xstring" value="Location"/>
<entry key="append-column" type="xboolean" value="true"/>
<entry key="disallowLongOutputForCompatibility" type="xboolean" value="false"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="Long and Lat%%00010to REGION%%00010converter"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="943"/>
<entry key="y-coordinate" type="xint" value="359"/>
<entry key="width" type="xint" value="115"/>
<entry key="height" type="xint" value="48"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="9"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" value="Longitude and latitude to region converter"/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.rules.engine.RuleEngineNodeFactory"/>
<entry key="node-name" type="xstring" value="Rule Engine"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Java Snippet Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.jsnippets"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.7.2.v201904171038"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.7.2.v201904171038"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Rule Engine"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 283867, Cols: 16"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="29ec62b4-88a3-485d-a461-c150826d22ff"/>
</config>
</config>
